# Dataset & processed features (too large for git)
dataset/
data*/
*data*


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDES
.vscode/
.idea/

# Misc
.DS_Store
*.log
prompt.md
*.pdf
*.pkl
*out*
*txt*
.ipynb_checkpoints/